* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, main {
  height: 100%; }

body {
  font: 14px/1.5 Arial;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #444; }

ul, li {
  list-style: none; }

section {
  height: 100%;
  overflow: hidden; }

.layout {
  margin: 0 auto;
  width: 600px; }

@media (min-width: 700px) {
  .layout {
    width: 600px; } }
@media (min-width: 900px) {
  .layout {
    width: 800px; } }
@media (min-width: 1000px) {
  .layout {
    width: 900px; } }
@media (min-width: 1200px) {
  .layout {
    width: 1100px; } }
.bg {
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  background: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
  background-size: cover;
  filter: blur(4px); }

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4); }

main {
  padding-top: 12vh;
  height: calc(100% - 24vh); }
  main .aside {
    float: left; }
    main .aside figure {
      width: 46vh;
      height: 46vh;
      background-image: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle);
      background-size: cover; }
    main .aside .actions {
      display: flex;
      padding-top: 4vh;
      justify-content: space-around; }
      main .aside .actions .iconfont {
        font-size: 5vh;
        color: rgba(255, 255, 255, 0.4);
        transition: color .4s;
        cursor: pointer; }
      main .aside .actions .iconfont:hover {
        color: #fff; }
  main .detail {
    margin-left: 56vh;
    color: #fff; }
    main .detail .tag {
      font-size: 2vh;
      padding: .4em .8em;
      background: #2e6eec; }
    main .detail h1 {
      font-size: 6vh;
      margin-top: 2vh; }
    main .detail .icons {
      display: flex;
      font-size: 3vh;
      margin-top: 12vh; }
      main .detail .icons li {
        flex: 1; }
    main .detail .area-bar {
      margin-top: 10vh;
      display: flex;
      align-items: center; }
      main .detail .area-bar .bar {
        position: relative;
        flex: 1;
        height: .8vh;
        border-radius: .2vh;
        background: rgba(255, 255, 255, 0.4); }
      main .detail .area-bar .current-time {
        width: 3vh;
        font-size: 2vh;
        margin-left: 1vh; }
    main .detail .author {
      font-size: 2vh;
      margin-top: 2vh;
      color: rgba(255, 255, 255, 0.6); }
    main .detail .lyric {
      font-size: 3vh;
      margin-top: 3vh;
      color: white; }

footer:hover .layout .iconfont {
  opacity: 1; }

footer {
  height: 24vh;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px -0.25vh 0.25vh 0.25vh rgba(255, 255, 255, 0.2); }
  footer .layout {
    position: relative; }
    footer .layout .iconfont {
      position: absolute;
      top: 4vh;
      font-size: 8vh;
      color: rgba(255, 255, 255, 0.4);
      opacity: 0;
      transition: all .4s;
      cursor: pointer; }
    footer .layout .icon-left {
      left: -8vh; }
    footer .layout .icon-right {
      right: -8vh; }
    footer .layout .box {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      height: 24vh; }
      footer .layout .box ul {
        position: absolute;
        left: 0; }
        footer .layout .box ul li {
          float: left;
          margin-top: 1vh;
          margin: 2vh 2vh 0 2vh;
          width: 20vh;
          height: 20vh;
          text-align: center;
          cursor: pointer; }
          footer .layout .box ul li .cover {
            height: 16vh;
            background-size: cover;
            background-position: center center; }
          footer .layout .box ul li h3 {
            font-size: 2vh;
            color: rgba(255, 255, 255, 0.6);
            margin-top: 1vh; }
        footer .layout .box ul li:hover {
          box-shadow: 0 0 0.5vh 0.5vh rgba(255, 255, 255, 0.8); }

#page-cover {
  display: none; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/*# sourceMappingURL=style.css.map */
